body {
    background-color: pink;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 100px;
}

h1 {
    color: #b30059;
}

.buttons {
    margin-top: 20px;
}

/* hide checkbox */
#noClick {
    display: none;
}

.btn {
    font-size: 18px;
    padding: 10px 25px;
    margin: 10px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.yes {
    background-color: #ff4d88;
    color: white;
}

.no {
    background-color: white;
    color: #ff4d88;
}

/* YES message */
#yes {
    display: none;
}

#yes:target {
    display: block;
    font-size: 24px;
    margin-top: 30px;
    color: #b30059;
}

/* ERROR message */
.error {
    display: none;
    color: red;
    font-size: 22px;
    margin-top: 30px;
}

/* ===== WHEN NO IS CLICKED ===== */

/* No button disappears */
#noClick:checked ~ .buttons .no {
    display: none;
}

/* Yes button grows */
#noClick:checked ~ .buttons .yes {
    transform: scale(1.6);
}

/* Show loading text before disappearing */
#noClick:checked ~ .buttons .no::after {
  transition: 5s;
    content: "Loading...";
}

/* Show fake error */
#noClick:checked ~ .error {
    display: block;
}
